# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
dist/
*.tsbuildinfo

# serwist (PWA service worker build artifacts)
apps/web/public/sw.js
apps/web/public/swe-worker-*.js

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.production

# firebase
.firebase/
*.log
firebase-debug.log
firestore-debug.log
ui-debug.log

# functions
functions/lib/
functions/node_modules/

# testing
coverage/
playwright-report/
test-results/

# turbo / cache
.turbo/
.cache/
